* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

a:hover,
a:active,
a:focus {
    color: #f8234a;
    outline: none;
    text-decoration: none;
}

#header {
    background: #132950;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


/* .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
} */

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 span {
    color: white;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: white;
}

#logo {
    float: left;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
    float: left;
}

#nav-menu-container {
    display: table;
    margin: 0 auto;
}

.nav-menu a {
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
    color: #f82249;
}

.nav-menu>li {
    margin-left: 8px;
}

.nav-menu>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f82249;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .menu-active>a:before {
    visibility: visible;
    width: 100%;
}

#intro {
    width: 100%;
    height: 100vh;
    background: url(../img/cat.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


/* Darkens the pic a little */

#intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8); 
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 80px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

#intro h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

#intro h2 {
    color: #f82249;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

#AboutUs h1 {
    color: black;
    font-family: "Robot", sans-serif;
    text-decoration:underline;
    text-align: center;
    font-size: 30px;
    padding-top:50px;
    font-weight: 300;
}

#AboutUs p {
    color:black;
    font-family:"Robot", sans-serif;
    text-align: justify;
    font-size:20px;
    padding:20px 350px 0 350px;
    line-height:150%;
}


.center {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}

.center h1 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.container-gallery {
    width: 80%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: repeat(2, 15vw);
    border-top: 1px solid rgb(223, 223, 222);
    padding-top: 16px;
    /* grid-auto-rows: 1fr; */
    grid-gap: 50px;
}

.gallery__img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.gallery__item {
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 4px;
    display: block;
    border-radius: 3px;
    /* background-color: #f8234a; */
    overflow: hidden;
    position: static;
    height: 100%;
}

.exec-description h1 {
    padding: 8px 15px 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.exec-description h2 {
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

/* faq */
#faq{
    display: flex;
    padding: 50px 350px;
  }

#faq h1{
    color: black;
    font-family: "Robot", sans-serif;
    text-decoration:underline;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-left: 300px;
}
#faq .add{ /*Add is the name for the plus icon*/
    display: block;
}

#faq .minus{ /*Minus is the name for the minus icon*/
	display: none;
}

  .question-item{
    background-color: transparent;    
    margin-bottom: 10px;
    padding: 10px 0;
    /* border-bottom: 1px solid black; */

  }

  .question-title:hover{
     color:#f82249;
 }
  .question-title{
    display: flex; 
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  .question-title h2{
    color: black;
    font-size: 20px;
    font-family: "Robot", sans-serif;
    font-weight: 500;
  } 
  
  .question-answer{
    font-size: 18px;
    margin-top: 15px;
    font-weight: Normal;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.2s;
    font-family: "Robot", sans-serif;
  }


/*Contact*/
#contact{
    display: inline-block;
    width: 100%;
    text-align:center;
    padding-bottom:50px;
}
#contact h1{
    color: black;
    font-family: "Robot", sans-serif;
    text-decoration:underline;
    text-align: center;
    font-size: 30px;
    padding: 0 0 20px 0;
    font-weight: 300;
}
#contact a{
    color:black;
    cursor: pointer;
    text-align:center;
}
#contact a:hover{
    color:#f82249;
    }
